<!--Panel-->
<div class="card card-body">
    <h4 class="card-title">Openbare Toiletten</h4>
    <p class="card-text">Een toepassing die de gebruiker laat zien waar er in de buurt een openbaar toilet is binnen een in te stellen aantal meters rond de locatie van de persoon. De gebruiker kan ook een openbaar toilet zoeken via de straatnaam. De app toont ook makkelijk wat het dichtstbijzijnde toilet is. Er zal ook een functie zijn om te kijken welke toiletten toegankelijk zijn voor gehandicapten. 
        <br>
        <br>
        - afstand tot dichtsbijzijde openbare toilet<br>
        - openbare toilet in straat zoeken<br>
        - openbare toiletten tonen in omstreke van zoveel meter van locatie<br>
        - openbare toilet voor rolstoelgebruikers
        </p>
</div>
<!--/.Panel-->