<!--Card Wider-->
<div class="card card-cascade wider">
    
        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/23658915_1325206264274416_7470969531347602405_n.jpg?oh=b16dbc340182b80bbd7c9418c3e04087&oe=5AC117C5" class="img-fluid">
            <a href="#!">
                <div class="mask"></div>
            </a>
        </div>
        <!--/Card image-->
    
        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title"><strong>Sebastiaan van der Hoeven</strong></h4>
            <h5 class="indigo-text"><strong>Programmer</strong></h5>
    
            <p class="card-text">Sebastiaan van der Hoeven heeft de delen ... gemaakt. </p>
        </div>
        <!--/.Card content-->
    
    </div>
    <!--/.Card Wider-->