<input type="text" class = "form-control" [(ngModel)]="museumSearch">
<!--Card-->
<div class="card">
    <div class="card-header">
        Museums in Antwerpen
    </div>
    
    <div class="card-block">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><strong>ID</strong></th>
                    <th><strong>Naam</strong></th>
                    <th><strong>Thema</strong></th>
                    <th><strong>Type</strong></th>
                    <th><strong>Straat</strong></th>
                    <th><strong>Huisnr</strong></th>
                    <th><strong>Omgeving</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let museum of data.data">
                    <td>{{museum.id}}</td>
                    <td>{{museum.naam}}</td>
                    <td>{{museum.thema}}</td>
                    <td>{{museum.type}}</td>
                    <td>{{museum.straat}}</td>
                    <td>{{museum.huisnummer}}</td>
                    <td>{{museum.district}}</td>
                </tr>>
            </tbody>
        </table>
    </div>
  </div>
  <!--
    id : string,
    naam : string,
    thema : string,
    type : string,
    straat: string,
    huisnr: string,
    district: string
  -->
