<form id="filterStraat">
<input type="text" placeholder="zoek straat" [(ngModel)]="term" />
</form>


<!--Card-->
<div class="card" *ngIf="data">
    <div class="card-header">Openbare Toiletten
    </div>
    
    <div class="card-block">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>adres</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wc of data">
                    <th scope="row">{{wc.id}}</th>
                    <td>{{wc.straat}} {{wc.huisnr}} {{wc.postcode}} {{wc.district}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <!--/.Card-->