<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark green darken-2">
  
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a [routerLink]="['/musea']" class="nav-link" href="#">Musea<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/concertgebouwen']" class="nav-link" href="#">Concertgebouwen</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/velopunten']" class="nav-link" href="#">Velopunten</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/dichtsteMuseum']" class="nav-link" href="#">Dichtste Museum</a>
              </li>
          </ul>
          <!-- Links -->
      </div>
      <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->
                  
              