<!--Card Wider-->
<div class="card card-cascade wider">
    
        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/18556397_1152485931546451_3137929539460041286_n.jpg?oh=025a2f107ac154589a3874952312760a&oe=5ABEE754" class="img-fluid">
            <a href="#!">
                <div class="mask"></div>
            </a>
        </div>
        <!--/Card image-->
    
        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title"><strong>Joren Jamar & Sebastiaan van der Hoeven</strong></h4>
            <h5 class="indigo-text"><strong>2EA2</strong></h5>
    
            <p class="card-text"></p>
                
        </div>
        <!--/.Card content-->
    
    </div>
    <!--/.Card Wider-->