<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark orange darken-2">
    
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a [routerLink]="['/dichtsteWc']" class="nav-link" href="#">Dichtste WC<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/straatWc']" class="nav-link" href="#">In straat zoeken</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/buurtWc']" class="nav-link" href="#">In de buurt</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/rolstoelWc']" class="nav-link" href="#">Voor rolstoel gebruikers</a>
                </li>
            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
    
    </nav>
    <!--/.Navbar-->
                    
                