<!--Card Wider-->
<div class="card card-cascade wider">
    
        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/18274710_1486889141383399_7415584269766187832_n.jpg?oh=3477b23b9c8326d7f3e50ab8a85d1a5d&oe=5AD1AFB1" class="img-fluid">
            <a href="#!">
                <div class="mask"></div>
            </a>
        </div>
        <!--/Card image-->
    
        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title"><strong>Joren Jamar</strong></h4>
            <h5 class="indigo-text"><strong>Programmer</strong></h5>
    
            <p class="card-text">Joren Jamar heeft de delen ... gemaakt.</p>
                
        </div>
        <!--/.Card content-->
    
    </div>
    <!--/.Card Wider-->