<!--Panel-->
<div class="card card-body">
    <h4 class="card-title">Vervoerregelings applicatie naar museum</h4>
    <p class="card-text">
        Een applicatie waarbij de gebruiker kan zoeken naar museums of concertgebouwen, 
        de applicatie stelt op welke vorm van vervoer het snelste is om er te geraken, 
        zo laat de applicatie zien hoelang je er over doet om er te komen via de velo of te voet.
    </p>
        
         
        <ul>
            <li><strong>Zoeken naar museums</strong></li>
            <li><strong>Zoeken naar Concertgebouwen</strong></li>
            <li><strong>Afstand tonen van het velo-punt naar het museum</strong></li>
            <li><strong>Afstand tonen van huidige locatie naar het museum te voet</strong></li>
        </ul>   
</div>
<!--
        http://opendata.antwerpen.be/datasets/velo-stations
        http://opendata.antwerpen.be/datasets/concertzalen-vlak
        http://opendata.antwerpen.be/datasets/musea
-->
